* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid green; */
}
:root {
  --marineblue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --dark: hsl(0, 8%, 12%);
  --white: hsl(0%, 0%, 100%);
}
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--cool-gray);
}
.main-container {
  width: 58.75rem;
  height: 37.5rem;
  padding: 1rem;
  display: flex;
  background-color: var(--alabaster);
}
.sidebar {
  width: 17.125rem;
  padding: 2.5rem 2rem;
  margin-right: 1rem;
  background-color: var(--purplish-blue);
  background: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sidebar-title-contain {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.875rem;
}
.number-contain {
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
}
.number-contain p {
  margin: auto;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--light-blue);
}
.number-contain.active {
  background-color: var(--light-blue);
}
.number-contain.active p {
  color: var(--dark);
}
.sidebar-title-contain div p:first-child {
  font-size: 0.875rem;
  font-weight: 400;
}
.sidebar-title-contain div p:nth-child(2) {
  font-size: 1;
  font-weight: 500;
  color: var(--alabaster);
  text-transform: uppercase;
}
.step-container {
  /* padding: 5.25rem; */
  padding: 3.875rem;
  /* background-color: var(--white) !important; */
  border: 1px solid blue;
  position: relative;
}
.step-container > * {
  background-color: var(--alabaster);
}
.step-container > *:not(.step-info) {
  position: absolute;
  top: 3.875rem;
}
.no-show {
  opacity: 0;
  pointer-events: none;
}
/* STEP INFO STYLE START*/
.title {
  font-size: 2rem;
  color: var(--marineblue);
}
.text {
  margin: 1.25em 0 2.875em 0;
  font-size: 1rem;
  color: var(--cool-gray);
}
.personal-form {
  display: flex;
  flex-direction: column;
}
.personal-form label {
  margin-bottom: 0.625em;
  font-size: 0.875rem;
  color: var(--dark);
}
.personal-form input {
  padding: 1.125em 1em;
  margin-bottom: 1.625rem;
  font-size: 1rem;
  outline: none;
  background: transparent;
  border: 1px solid var(--cool-gray);
  border-radius: 0.75rem;
}
.personal-form input::placeholder {
  font-size: 1rem;
}
.next-btn {
  color: var(--magnolia);
  padding: 1.125em 1.625em;
  margin-left: auto;
  background-color: var(--dark) !important;
  border-radius: 0.5rem;
}
/* STEP INFO STYLE END*/
/* STEP PLAN STYLE START*/
.plan-box-contain {
  display: flex;
  gap: 1.125rem;
}
.plan-box {
  width: 8.5rem;
  padding: 1.125rem 0.875rem;
  border: 1px solid var(--cool-gray);
  border-radius: 0.75rem;
}
.plan-box-title {
  padding: 3em 0 0.75em 0;
  color: var(--marineblue);
  font-weight: 500;
}
.plan-box-price {
  color: var(--cool-gray);
}
.monthly-yearly-switcher-contain {
  padding: 0.875rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: var(--alabaster);
}
.monthly-yearly-switcher-contain .switcher {
  width: 2.375rem;
  height: 1.25rem;
  padding: 0.25rem;
  background-color: var(--dark);
  border-radius: 2rem;
}
.monthly-yearly-switcher-contain .switcher div {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--magnolia);
}
.step-button-contain {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.step-button-contain button {
  background: none;
  border: none;
  outline: none;
}
/* STEP PLAN STYLE END*/
/* STEP ADD ONS STYLE START */
.add-on-box {
  padding: 1em;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
}
.add-on-price {
  margin-left: auto;
}
/* STEP ADD ONS STYLE END */
/* STEP SUMMARY STYLE START */
.summary-contain {
  background-color: var(--light-gray);
}
.summary-plan {
  display: flex;
  justify-content: space-between;
}
/* STEP SUMMARY STYLE END */
