* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --marineblue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --dark: hsl(0, 8%, 12%);
  --white: hsl(0%, 0%, 100%);
}
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  padding: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--magnolia);
}
.main-container {
  width: min(100vw, 58.75rem);
  height: 37.5rem;
  padding: 1rem;
  display: flex;
  background-color: var(--alabaster);
  border-radius: 0.75rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.075);
}
.sidebar {
  width: 17.125rem;
  padding: 2.5rem 2rem;
  margin-right: 1rem;
  background-color: var(--purplish-blue);
  background: url(./assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
.sidebar-title-contain {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.875rem;
}
.number-contain {
  width: 2.125rem;
  height: 2.125rem;
  display: flex;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
}
.number-contain p {
  margin: auto;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--light-blue);
}
.number-contain.active {
  background-color: var(--light-blue);
}
.number-contain.active p {
  color: var(--dark);
}
.sidebar-title-contain div p:first-child {
  font-size: 0.875rem;
  font-weight: 400;
}
.sidebar-title-contain div p:nth-child(2) {
  font-size: 1;
  font-weight: 500;
  color: var(--alabaster);
  text-transform: uppercase;
}
.step-container {
  width: 100%;
  position: relative;
}
.step-container > * {
  position: absolute;
  top: 3.875rem;
  right: 5.25rem;
  bottom: 2rem;
  left: 5.25rem;
  background-color: var(--alabaster);
}
.no-show {
  opacity: 0;
  pointer-events: none;
}
/* STEP INFO STYLE START*/
.title {
  font-size: 2rem;
  color: var(--marineblue);
}
.text {
  margin: 0.75em 0 2em 0;
  font-size: 1rem;
  color: var(--cool-gray);
}
.personal-form {
  display: flex;
  flex-direction: column;
}
.personal-form label {
  margin-bottom: 0.625em;
  font-size: 0.875rem;
  color: var(--dark);
  display: flex;
  justify-content: space-between;
}
.personal-form input {
  padding: 1em;
  margin-bottom: 1.625rem;
  font-size: 1rem;
  outline: none;
  background: transparent;
  border: 1px solid var(--cool-gray);
  border-radius: 0.75rem;
}
.personal-form input:focus {
  border-color: var(--purplish-blue);
}
label.error::after {
  content: "This field is required";
  color: var(--strawberry-red);
  font-size: 1rem;
  font-weight: 500;
}
input.error {
  border-color: var(--strawberry-red) !important;
}
.personal-form input::placeholder {
  font-size: 1rem;
}
.back-btn,
.next-btn,
.change-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.25s;
}
.back-btn {
  color: var(--cool-gray);
  font-weight: 500;
}
.back-btn:hover {
  color: var(--marineblue);
}
.next-btn {
  color: var(--magnolia);
  padding: 1.125em 1.625em;
  margin-left: auto;
  background-color: var(--marineblue);
  border-radius: 0.5rem;
}
.next-btn:hover {
  background-color: hsl(213, 87%, 27%);
}
/* STEP INFO STYLE END*/
/* STEP PLAN STYLE START*/
.plan-box-contain {
  display: flex;
  gap: 1.125rem;
}
.plan-box {
  width: 8.5rem;
  padding: 1.125rem 0.875rem;
  border: 1px solid var(--cool-gray);
  border-radius: 0.75rem;
  cursor: pointer;
}
.plan-box:hover {
  border-color: var(--purplish-blue);
}
.plan-box.choosed {
  background-color: var(--magnolia);
  border-color: var(--purplish-blue);
}
.plan-box-title {
  padding: 3em 0 0.75em 0;
  color: var(--marineblue);
  font-weight: 500;
}
.plan-box-price {
  color: var(--cool-gray);
}
.monthly-yearly-switcher-contain {
  padding: 0.875rem 0;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  background-color: var(--magnolia);
  border-radius: 0.75rem;
}
.switcher {
  width: 2.375rem;
  height: 1.25rem;
  padding: 0.25rem;
  background-color: var(--dark);
  border-radius: 2rem;
  cursor: pointer;
}
.switcher div {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--magnolia);
  transition: 0.25s;
}
.monthly-yearly-switcher-contain.yearly .switcher div {
  margin-left: calc(100% - 0.75rem);
}
:is(.month, .year).active {
  color: var(--dark);
  font-weight: 500;
}
.two-months-free {
  font-size: 0.875rem;
  color: var(--purplish-blue);
  display: none;
}
.step-button-contain {
  margin-top: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* STEP PLAN STYLE END*/
/* STEP ADD ONS STYLE START */
.add-on-box {
  padding: 1em;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.25s;
}
.add-on-box.choosed {
  background-color: var(--magnolia);
  border-color: var(--purplish-blue);
}
.add-on-box:hover {
  border-color: var(--purplish-blue);
}
.add-on-box input {
  cursor: pointer;
}
.add-on-title {
  color: var(--marineblue);
  font-weight: 500;
  margin-bottom: 0.35em;
}
.add-on-info {
  color: var(--cool-gray);
  font-size: 0.875rem;
}
.add-on-price {
  color: var(--purplish-blue);
  margin-left: auto;
}
/* STEP ADD ONS STYLE END */
/* STEP SUMMARY STYLE START */
.summary-contain {
  padding: 1.375em;
  border-radius: 0.75rem;
  background-color: var(--magnolia);
}
.summary-plan {
  padding-bottom: 1.375em;
  margin-bottom: 1.375em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cool-gray);
}
.summary-plan-title,
.summary-plan-price {
  font-size: 1rem;
  color: var(--marineblue);
  font-weight: 500;
}
.change-btn {
  text-decoration: underline;
}
.change-btn:hover {
  color: var(--purplish-blue);
}
.change-btn,
.summary-add-on,
.summary-total {
  font-size: 0.875rem;
  color: var(--cool-gray);
}
.summary-add-on,
.summary-total {
  display: flex;
  justify-content: space-between;
}
.summary-add-on:not(:last-child) {
  margin-bottom: 1em;
}
.summary-add-on .price {
  color: var(--dark);
}
.summary-total {
  padding: 1.75em 1.375em;
}
.summary-total .price {
  color: var(--purplish-blue);
  font-size: 1.25rem;
  font-weight: 700;
}
.step-summary .next-btn {
  background-color: var(--purplish-blue);
}
.step-summary .next-btn:hover {
  background-color: hsl(243, 94%, 70%);
}
/* STEP SUMMARY STYLE END */
/* STEP COMPLETE STYLE START */
.step-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.thankyou-title {
  margin: 1em 0 0.75em 0;
  color: var(--marineblue);
  font-size: 2rem;
  font-weight: 700;
}
.thankyou-txt {
  color: var(--cool-gray);
}
/* STEP COMPLETE STYLE END */
/* RESPONSIVE STYLE START */
@media (width < 46.875rem) {
  body {
    padding: 0;
  }
  .main-container {
    min-height: 100vh;
    padding: 0;
    display: initial;
    border-radius: 0;
    background: none;
  }
  .sidebar {
    width: 100%;
    height: 10.75rem;
    margin-right: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: url(../assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
  }
  .sidebar-title-contain {
    margin-bottom: 0;
    transform: translateY(-100%);
  }
  .sidebar-title-contain div:nth-child(2) {
    display: none;
  }
  .step-container {
    height: 100%;
  }
  .step-container > div {
    inset: 1rem;
    top: -4rem;
    bottom: auto;
    padding: 1.5rem;
    border-radius: 0.75rem;
  }
  .plan-box-contain {
    flex-direction: column;
  }
  .plan-box {
    width: 100%;
    display: flex;
    align-items: start;
    gap: 1rem;
  }
  .plan-box-title {
    padding: 0 0 0.75em 0;
  }
  .step-button-contain {
    position: initial;
  }
}
/* RESPONSIVE STYLE END */
